<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.czy.nmtjy.mapper.PaymentRecordMapper">
  <resultMap id="BaseResultMap" type="cn.czy.nmtjy.model.po.PaymentRecordPo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="course_registration_id" jdbcType="BIGINT" property="courseRegistrationId" />
    <result column="times" jdbcType="TINYINT" property="times" />
    <result column="per_times" jdbcType="DECIMAL" property="perTimes" />
    <result column="discount" jdbcType="TINYINT" property="discount" />
    <result column="material_pay" jdbcType="DECIMAL" property="materialPay" />
    <result column="other_pay" jdbcType="DECIMAL" property="otherPay" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_registration_id, times, per_times, discount, material_pay, other_pay, 
    status, remark, creator, create_time, operator, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from payment_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.czy.nmtjy.model.po.PaymentRecordPo">
    insert into payment_record (id, course_registration_id, times, 
      per_times, discount, material_pay, 
      other_pay, status, remark, 
      creator, create_time, operator, 
      operate_time)
    values (#{id,jdbcType=BIGINT}, #{courseRegistrationId,jdbcType=BIGINT}, #{times,jdbcType=TINYINT}, 
      #{perTimes,jdbcType=DECIMAL}, #{discount,jdbcType=TINYINT}, #{materialPay,jdbcType=DECIMAL}, 
      #{otherPay,jdbcType=DECIMAL}, #{status,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, 
      #{creator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=INTEGER}, 
      #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.czy.nmtjy.model.po.PaymentRecordPo">
    insert into payment_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseRegistrationId != null">
        course_registration_id,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="perTimes != null">
        per_times,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="materialPay != null">
        material_pay,
      </if>
      <if test="otherPay != null">
        other_pay,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseRegistrationId != null">
        #{courseRegistrationId,jdbcType=BIGINT},
      </if>
      <if test="times != null">
        #{times,jdbcType=TINYINT},
      </if>
      <if test="perTimes != null">
        #{perTimes,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=TINYINT},
      </if>
      <if test="materialPay != null">
        #{materialPay,jdbcType=DECIMAL},
      </if>
      <if test="otherPay != null">
        #{otherPay,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.czy.nmtjy.model.po.PaymentRecordPo">
    update payment_record
    <set>
      <if test="courseRegistrationId != null">
        course_registration_id = #{courseRegistrationId,jdbcType=BIGINT},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=TINYINT},
      </if>
      <if test="perTimes != null">
        per_times = #{perTimes,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=TINYINT},
      </if>
      <if test="materialPay != null">
        material_pay = #{materialPay,jdbcType=DECIMAL},
      </if>
      <if test="otherPay != null">
        other_pay = #{otherPay,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.czy.nmtjy.model.po.PaymentRecordPo">
    update payment_record
    set course_registration_id = #{courseRegistrationId,jdbcType=BIGINT},
      times = #{times,jdbcType=TINYINT},
      per_times = #{perTimes,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=TINYINT},
      material_pay = #{materialPay,jdbcType=DECIMAL},
      other_pay = #{otherPay,jdbcType=DECIMAL},
      status = #{status,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>